/ant-design
/ant-design-pro

# Dependencies
/node_modules
/dist

# IDEs and editors
.idea/
.vscode/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System files
.DS_Store
Thumbs.db
